/* The start of style zero */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}
/*The end of style zero*/

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  transition: all 0.3s ease;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: hsl(0, 0%, 40%);
  }
  &:active {
    background-color: hsl(0, 0%, 20%);
  }
}

.operator-btn {
  background-color: hsl(35, 100%, 55%);
  &:hover,
  &:focus {
    background-color: hsl(35, 100%, 65%);
  }
  &:active {
    background-color: hsl(35, 100%, 75%);
  }
}

#themeToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 30%);
  &:hover,
  &:focus {
    background-color: hsl(0, 0%, 40%);
  }
  &:active {
    background-color: hsl(0, 0%, 20%);
  }
}

.mode-btn {
  width: 50px;
  height: 50px;
}

/* Dark mode */

body.dark-mode {
  background-color: #000814;
  #themeToggle {
    background: hsl(0, 0%, 85%);
    &:hover,
    &:focus {
      background: hsl(0, 0%, 75%);
    }
    &:active {
      background: hsl(0, 0%, 60%);
    }
  }
  .mode-btn {
    content: url(../img/sun.png);
  }
}
